<mat-card class="container">

    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="label-icon">restore</mat-icon>
            <span>Recent Transactions</span>
        </div>
        <div>{{transactions.length}} transactions</div>
    </div>

    <cdk-virtual-scroll-viewport itemSize="40" (scrolledIndexChange)="onIndexChange($event)">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *cdkVirtualFor="let item of transactions; let i = index; trackBy: trackByIdx">
                    <td>{{ item.row_id }}</td>
                    <td>
                        <span class="badge">{{ item.type }}</span>
                    </td>
                    <td>{{ item.volume | currency:'USD ':'code' }}</td>
                    <td>{{ item.time | date:'MMM dd yyyy, HH:mm' }}</td>
                    <td>{{ item.sender | trim }}</td>
                </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
</mat-card>